fastapi
uvicorn
opencv-python
tensorflow
numpy
pandas
python-multipart
pydantic
pydantic-settings
python-dotenv
aiofiles
matplotlib
scikit-learn
pillow
face-recognition
sqlalchemy
openpyxl
jinja2
python-slugify
